* {
    font-family: Arial, sans-serif;
}

header {

    background-color: lightblue;
    padding: 20px 20px 20px 50px;
}


main{

display: grid;
grid-template-columns: 1fr 3fr;

}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.contact a {
    padding: 30px;
}

/* .section-4 {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px;
} */

#br-image img{
    width: 100%;
    height: 30vh;
}

#br-image h3 {
    position: absolute;
    left: 80%;
    top: 35%;
    color: white;
    
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 40px;
}

#navbar a {
    padding: 20px;
}

