* {
    font-family: Arial, sans-serif;
}

header {

    background-color: lightblue;
    padding: 20px 20px 20px 50px;
}


main{

display: grid;
grid-template-columns: 1fr 3fr;
}

h2 {
    color: darkblue;
    font-size: 30px;
    text-align: center; 

}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.contact a {
    padding: 30px;
}

.section-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 90%;
}

.section-4 img {
    width: 100%;
    height: 100%;
    border: 5px solid lightblue;

}

#br-image img{
    width: 100%;
    height: 30vh;
}

#br-image h3 {
    position: absolute;
    left: 80%;
    top: 35%;
    color: white;
    
}

#img1 {
    grid-column: 1/ span 2;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 40px;
}

#navbar a {
    padding: 20px;
}

